<body>
<section>
 <h2>How to Use</h2>
  <div>
    <h3>1 </h3>
    <p>After purchasing one of the cards, place the sicker in the desired spot or hold the card in a visible position</p>
  </div>
  <div>
    <h3>2 </h3>
    <p>Proceed to move the device in the direction of the card or sticker</p>
  </div>
  <div>
    <h3>3 </h3>
    <p>simply tap your phone on the tag and the link to your set profile automatically shows up</p>

  </div>
</section>
<img src="../../../../../assets/PHONES.png" alt="">

</body>

