/* Cursor Animation*/
/*@keyframes cursor-blink {*/
/*  0% {*/
/*    opacity:0;*/
/*  }*/
/*}*/


/* h1::after {*/
/*  content:"";*/
/*  width: 10px;*/
/*  height: 5px;*/
/* background: white;*/
/*  display: inline-block;*/
/*  animation: cursor-blink 1.5s steps(2) infinite;*/
/*}*/

body{
  height: 50vh;
  overflow: hidden;
  display: flex;
  background-color: black;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  padding: 0 20%;
  background-image: url("src/assets/banner-image.png");
background-size: 37%;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/

}
section{
  overflow: visible;
  max-width: 45%;
  margin: auto;

}


h1, p{
  color: white;
}
img{
  overflow: hidden;
 max-width:700px;
object-fit: cover;
  object-position:13px 80px ;

  visibility: hidden;
  opacity: 100%;
  transition: opacity 1s;
}
/*Responsive styling*/
@media only screen and (max-width: 607px) {
 body {
   height: auto;
   display: flex;
   align-items: center;
   justify-content: center;
    flex-direction:column ;
   text-align: center;
   padding: 0;
   background-image: none;
  }
  section{
    padding-top:145px;
    width: 65%;
  }
  img{
    max-width: 40em;
    /*display: none;*/
    object-position: -40px 65px;
    visibility: visible;

  }

  /*Text styles*/
  h1{
    /*font-size: 2.5rem;*/
    text-align: center;
    width: 100%;
  }
  p{
    padding-top: 15px;
    width: 100%;
  }
}

/*Background Image*/
@media only screen and (min-width: 2236px) {
  body{
    background-position: 85% 10%;
    background-size:40%;

  }
}
@media only screen and (max-width:2235px) {
  body{
    background-position: 80% 27%;
    background-size: 40%;
  }
}
@media only screen and (max-width:1749px) {
  body{
    padding: 0 10%;
    background-position: 100% 27%;
    background-size: 780px;
  }
}
@media only screen and (max-width:1557px) {
  body{
    padding: 0 10%;
    background-position: 100% 27%;
    background-size: 59%;
  }
}

/*@media only screen and (max-width:1215px) {*/
/*  body{*/
/*    padding: 0 10%;*/
/*    background-position: 100% 27%;*/
/*    background-size: 68%;*/
/*  }*/
/*}*/
@media only screen and (max-width:1215px) {
  body{
    padding: 0 10%;
    background-position: 500px 20%;
    background-size: 68%;
  }
}


@media only screen and (max-width:1100px) {
  body{
    padding: 0 10%;
    background-position: 340px 25%;
    background-size: 740px;
  }
}



