<html>
<body>
<h1>Welcome</h1>
<p>Please enter your details</p>

<form action="/action_page.php">
  <label for="email">Email</label><br>
  <input type="text" id="email" name="email" placeholder="example@gmail.com"><br>
  <label for="password">Password</label><br>
  <input type="text" id="password" name="password" placeholder=".................."><br><br>

   <input type="button" value="Sign In">
  <br>
<!--   <input type="button" value="Sign In with Google">-->
<!--  <img src="/assets/5a35540277d9e6%201.png" alt="">-->
  <button>  <img src="/assets/5a35540277d9e6%201.png" alt=""> Sign In with Google</button>

</form>
<br>
<p>Dont have an account?<b>Sign Up for free</b> </p>
</body>
</html>
