<!--Basic structure of footer-->
<footer>

  <!--The main area of the footer -->
  <div class="footer-content">
          <img  class="bi me-2" width="120" height="40" object-fit="cover" src="assets/company-logo.png" alt="logo">

<!--    <h4>connecting you anywhere anytime</h4>-->
    <p>We aim to provide you the best wireless connectivity options at the best prices.
    Visit us on social media here</p>

    <!--Footer's social icon-->
    <ul class="socials">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="#"><i class="fa fa-youtube"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
    </ul>


    <!-- Footer's menu item-->
    <div class="footer-menu">
      <ul class="f-menu">
        <li><a href="">Home</a></li>
        <li><a href="">Products</a></li>
        <li><a href="">Modem</a></li>
        <li><a href="">SignIn/Up</a></li>
      </ul>
    </div>

  </div>


</footer>


<!--<div class="">-->
<!--  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 border-top">-->
<!--    <div class="col mb-3">-->
<!--      <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">-->
<!--        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>-->
<!--      </a>-->
<!--      <img  class="bi me-2" width="120" height="40" object-fit="cover" src="assets/company-logo.png" alt="logo">-->
<!--      <p class="text-muted">© 2022</p>-->
<!--    </div>-->

<!--    <div class="col mb-3">-->
<!--      <h5>Home</h5>-->
<!--      <ul class="nav flex-column">-->
<!--      <li class="nav-item mb-2"><a href="#products" class="nav-link p-0 text-muted">Products</a></li>-->
<!--      <li class="nav-item mb-2"><a href="#tutorial" class="nav-link p-0 text-muted">How to Use</a></li>-->
<!--      <li class="nav-item mb-2"><a href="#modem" class="nav-link p-0 text-muted">Stay Connected</a></li>-->
<!--   </ul>-->
<!--    </div>-->

<!--    <div class="col mb-3">-->
<!--      <h5>Section</h5>-->
<!--      <ul class="nav flex-column">-->
<!--        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>-->
<!--        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>-->
<!--        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>-->
<!--        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>-->
<!--        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>-->
<!--      </ul>-->
<!--    </div>-->

<!--  </footer>-->
<!--</div>-->
