/*Basics*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #fcfcfc;
  font-family: sans-serif;
}

footer{
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  height: auto;
  width: 100vw;
  padding: 100px;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

/*Design the title and description*/
.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

/*Design the social icon of Footer Design*/
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: #fff;
  /*border: 1.1px solid white;*/
  padding: 5px;
  border-radius: 50%;
}
.socials a i{
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;
}

.socials a:hover i{
  color: aqua;
}

/*Design the Footer menu item*/
.footer-menu{
  margin-bottom: 20px;
}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
  padding-right: 10px;
  display: block;
}

.footer-menu ul li a{
  color: #7a7a7a;
  /*border-bottom: 1px solid #4f4c4c;*/
  padding: 6px 15px;
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: #27bcda;
}


@media (max-width:500px) {
  .footer-menu ul{
    display: inline;
  }
  .footer-menu ul li{
    margin-bottom: 20px;
  }
}
/*footer{*/
/*  padding: 100px;*/
/*background-color:black;*/
/*  margin:0;*/
/*}*/
/*ul, h5{*/
/*  padding: 3px 80px;*/

/*}*/



h5{

  padding-bottom: 5px;
}
